<h1>Add-link</h1>
<h3> To go back click <a href="/home">here</a> </h3>
<form action='addedlink' method="post">
  <p>Enter the name you would like to give this link</p>
  <input type='text' name='name'>
  <p>Enter the url of the link</p>
  <input type='text' name='url'>
  <br> <br>
  <input type='submit' value='add' method='post'>
</form>
