<!DOCTYPE html>
<html>
  <% if flash[:errors] %>
  <ul id='errors'>
    <% flash[:errors].each { |error| %>
      <li><%= error %></li>
    <% } %>
  </ul>
  <% end %>

  <head>
    <title>BOOKMARK</title>
  </head>

  <body>
    <% if current_user %>
      Welcome <%= current_user.email %>
    <% end %>
    <%= yield %>
  </body>
</html>
