<form action='signed_up' method="post">
  <p>Enter your email address</p>
  <input type='text' name='email' placeholder='person@gmail.com'>
  <p>Enter a password</p>
  <input type='password' name='password'>
  <br> <br>
  <input type='submit' value='Sign up' method='post'>
</form>
